In [123]:
import pandas as pd
import numpy as np
'''
data preprocessing
'''

#주가데이터 파일을 로드
csv_data = pd.read_csv("./data/005930_200325.csv")
csv_data

,date,start,high,low,end,volume,foreign,person,company,wondollar
0,2020.3.25,48950,49600,47150,48650,52735922,-2751527,4980190,-1695448,1229.9
1,2020.3.24,43850,46950,43050,46950,49801908,2929769,-6174614,3254324,1249.6
2,2020.3.23,42600,43550,42400,42500,41701626,-8143293,10988297,-3248991,1266.5
3,2020.3.20,44150,45500,43550,45400,49730008,-5133212,3248749,1669124,1246.5
4,2020.3.19,46400,46650,42300,42950,56925513,-5807616,4105594,1612440,1285.7
...,...,...,...,...,...,...,...,...,...,...
592,2017.10.23,54600,54640,54000,54300,8311050,30468,4568,-63065,1130.2
593,2017.10.20,52800,54100,52800,53840,8027050,29906,-2283,-39735,1131.0
594,2017.10.19,54700,54700,52980,52980,12108700,-19892,46171,-46270,1132.4
595,2017.10.18,54820,55240,54040,54760,10110750,8951,-3285,-23873,1129.9
596,2017.10.17,54020,55380,54000,54800,10607800,34020,-15898,-35696,1132.5

In [126]:
#필요한 부분을 가져온다
stdata = csv_data[["start","high", "low","end","volume","foreign", "person","company","wondollar"]]
stdata.head()

#전일대비 가격 변화율을 추가한다
price_change = -np.diff(stdata["end"].to_numpy())
price = stdata["end"].to_numpy()
price = price[1:]
price_change_rate = (price_change/price)*100
price_change_rate=np.append(price_change_rate,[0])
stdata['price_change_rate'] = price_change_rate


#캔들 (종가,시가,고가,저가) 관련 정보를 추가한다
#시가-종가
start = stdata["start"].to_numpy()
end = stdata["end"].to_numpy()
candle_end_start = end-start
stdata['candle_end_start'] = candle_end_start

#고가-저가 (당일변동폭) 
high = stdata["high"].to_numpy()
low = stdata["low"].to_numpy()
candle_high_low = high-low
stdata['candle_high_low'] = candle_high_low


#상승or하락 표시 상승:1 보함:0 하락:-1
up_or_down = np.zeros(597)

price_change_rate = stdata["price_change_rate"].to_numpy()
for idx, val in enumerate(price_change_rate):
    if val>0:
        up_or_down[idx]=1
    if val<0:
        up_or_down[idx]=-1
stdata['up_or_down'] = up_or_down

stdata

,start,high,low,end,volume,foreign,person,company,wondollar,price_change_rate,candle_end_start,candle_high_low,up_or_down
0,48950,49600,47150,48650,52735922,-2751527,4980190,-1695448,1229.9,3.620873,-300,2450,1.0
1,43850,46950,43050,46950,49801908,2929769,-6174614,3254324,1249.6,10.470588,3100,3900,1.0
2,42600,43550,42400,42500,41701626,-8143293,10988297,-3248991,1266.5,-6.387665,-100,1150,-1.0
3,44150,45500,43550,45400,49730008,-5133212,3248749,1669124,1246.5,5.704307,1250,1950,1.0
4,46400,46650,42300,42950,56925513,-5807616,4105594,1612440,1285.7,-5.811404,-3450,4350,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,54600,54640,54000,54300,8311050,30468,4568,-63065,1130.2,0.854383,-300,640,1.0
593,52800,54100,52800,53840,8027050,29906,-2283,-39735,1131.0,1.623254,1040,1300,1.0
594,54700,54700,52980,52980,12108700,-19892,46171,-46270,1132.4,-3.250548,-1720,1720,-1.0
595,54820,55240,54040,54760,10110750,8951,-3285,-23873,1129.9,-0.072993,-60,1200,-1.0
596,54020,55380,54000,54800,10607800,34020,-15898,-35696,1132.5,0.000000,780,1380,0.0

In [112]:
#정규화
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
fitted = scaler.fit(stdata)
output = scaler.transform(stdata)
output.shape

(597, 10)

In [110]:
#정답1 : 가격변화강도 = 가격 변화율 절대값
price_change = -np.diff(stdata["end"].to_numpy())

price = stdata["end"].to_numpy()
price = price[1:]

price_change_rate = (price_change/price)*100
price_change_power = abs(price_change_rate)

price_change_power

array([ 3.62087327, 10.47058824,  6.3876652 ,  5.70430733,  5.81140351,
        3.59408034,  3.27198364,  2.1021021 ,  1.67322835,  2.49520154,
        4.57875458,  0.73800738,  4.07079646,  2.24913495,  0.69686411,
        3.6101083 ,  0.72727273,  1.47601476,  3.0411449 ,  1.0619469 ,
        2.417962  ,  1.93661972,  4.05405405,  1.33333333,  0.33222591,
        0.66889632,  2.76422764,  0.48543689,  1.8121911 ,  0.33057851,
        1.00166945,  0.33500838,  1.1589404 ,  1.14566285,  2.68907563,
        1.01867572,  2.97202797,  1.41843972,  1.3986014 ,  3.21489002,
        0.51020408,  3.28947368,  2.40770465,  1.46579805,  1.6025641 ,
        1.79445351,  0.98846787,  2.88135593,  1.66666667,  0.        ,
        0.84033613,  1.53583618,  3.16901408,  1.7921147 ,  0.54054054,
        0.        ,  0.54347826,  1.07526882,  1.23893805,  1.98555957,
        0.72727273,  0.9009009 ,  0.89285714,  0.        ,  0.53285968,
        0.70546737,  3.65630713,  0.        ,  2.62664165,  2.69749518,
        0.77669903,  0.5859375 ,  1.58730159,  1.81818182,  0.10111223,
        0.90180361,  0.99206349,  0.19880716,  1.94931774,  1.72413793,
        0.77220077,  0.        ,  0.3875969 ,  1.17647059,  1.92307692,
        2.80373832,  0.        ,  0.37243948,  1.70454545,  0.57142857,
        0.19011407,  1.9379845 ,  0.9596929 ,  1.51228733,  0.75046904,
        1.13851992,  0.76481836,  2.1484375 ,  1.58730159,  0.        ,
        1.36986301,  0.38986355,  0.78585462,  0.39447732,  0.9765625 ,
        0.        ,  1.78926441,  0.80160321,  1.18811881,  0.39447732,
        1.19760479,  0.2       ,  1.7293998 ,  1.23583934,  0.71574642,
        2.40837696,  0.52083333,  0.84033613,  2.55885363,  0.4077472 ,
        1.34297521,  1.62601626,  0.61349693,  1.21212121,  0.40567951,
        0.20325203,  0.1017294 ,  3.03983229,  1.70575693,  0.42462845,
        0.10604454,  0.31914894,  0.21321962,  1.29589633,  1.31291028,
        3.62811791,  1.96531792,  1.25570776,  0.45454545,  1.38248848,
        1.69875425,  0.22701476,  1.03211009,  0.7963595 ,  0.22701476,
        1.01123596,  0.11248594,  1.94954128,  0.6833713 ,  0.4576659 ,
        1.62790698,  1.60183066,  1.27462341,  1.17233294,  1.27314815,
        0.68965517,  1.02389078,  2.2246941 ,  0.55309735,  0.33076075,
        2.57787325,  0.97613883,  2.22693531,  0.1059322 ,  1.72413793,
        1.90274841,  0.21186441,  0.85470085,  1.51843818,  0.10857763,
        1.70757737,  0.86114101,  0.32397408,  0.21645022,  1.42700329,
        0.99778271,  1.57657658,  2.73822563,  0.76086957,  1.3215859 ,
        1.83783784,  0.75107296,  0.85106383,  1.07526882,  1.75054705,
        0.21929825,  0.21978022,  0.43763676,  0.43956044,  0.33076075,
        2.25479143,  1.02505695,  0.22727273,  0.57142857,  1.9058296 ,
        0.5574136 ,  0.11160714,  1.35746606,  0.6833713 ,  1.03567319,
        0.79908676,  3.05882353,  0.11750881,  1.79425837,  1.7626322 ,
        0.23446659,  0.11709602,  2.62257697,  0.8045977 ,  0.81112399,
        2.73809524,  1.94174757,  0.8423586 ,  2.35017626,  0.23446659,
        0.        ,  0.58275058,  1.06007067,  4.06779661,  1.33779264,
        0.99337748,  1.30718954,  0.10905125,  0.65005417,  2.89855072,
        0.44792833,  0.22346369,  0.99557522,  0.33076075,  0.11037528,
        0.65789474,  3.08182784,  0.42328042,  0.4250797 ,  0.42689434,
        1.2972973 ,  0.96359743,  0.10718114,  0.        ,  0.42689434,
        0.21299255,  0.75107296,  1.8579235 ,  1.55382908,  0.89585666,
        0.44593088,  1.10253583,  0.22099448,  0.54945055,  2.2556391 ,
        1.52671756,  4.08626561,  0.34168565,  0.4576659 ,  1.13122172,
        0.7981756 ,  0.        ,  1.79171333,  2.29095074,  0.34246575,
        1.46231721,  1.02272727,  0.56497175,  1.33779264,  0.55432373,
        3.52941176,  0.        ,  1.26715945,  0.42417815,  0.42598509,
        0.10660981,  2.06746464,  0.54112554,  0.3257329 ,  3.05263158,
        2.81385281,  0.3257329 ,  2.33333333,  0.44642857,  3.03030303,
        0.3236246 ,  0.43336945,  0.5387931 ,  1.97802198,  0.99889012,
        0.67039106,  3.94889663,  2.5       ,  0.35587189,  1.40350877,
        1.06382979,  0.83432658,  1.20627262,  0.85158151,  2.62172285,
        1.11111111,  1.75879397,  0.50505051,  3.93700787,  1.67741935,
        3.47129506,  0.39893617,  2.96774194,  0.12919897,  1.17647059,
        0.26075619,  1.15979381,  0.38809832,  0.        ,  1.15089514,
        0.51413882,  0.6385696 ,  0.51347882,  2.625     ,  1.11248455,
        0.49689441,  0.12437811,  1.83150183,  1.11111111,  2.29191797,
        1.66073547,  2.5433526 ,  3.34528076,  3.01274623,  0.        ,
        0.23228804,  1.05633803,  0.47169811,  0.11778563,  0.83135392,
        1.63551402,  1.94730813,  0.79545455,  0.56497175,  0.34013605,
        0.8988764 ,  1.54867257,  2.03160271,  0.56753689,  0.11363636,
        0.57142857,  0.11415525,  0.79275198,  4.74495848,  0.58962264,
        0.11806375,  2.29468599,  0.97560976,  0.        ,  3.64277321,
        1.16144019,  1.14810563,  0.79726651,  0.34052213,  0.22650057,
        1.26146789,  0.456621  ,  0.45454545,  2.08816705,  4.85651214,
        0.77864294,  0.55928412,  0.        ,  2.18818381,  1.40237325,
        0.21528525,  2.21052632,  0.21097046,  0.31746032,  2.38353196,
        1.42857143,  0.7751938 ,  1.52671756,  4.08626561,  1.12233446,
        1.10987791,  0.98901099,  1.3363029 ,  2.60303688,  1.07296137,
        2.20356768,  0.42149631,  2.06398349,  1.67890871,  1.81623932,
        0.53705693,  0.5399568 ,  0.32502709,  0.10822511,  0.21691974,
        2.90178571,  2.16647662,  0.56689342,  0.33898305,  1.99335548,
        0.22197558,  0.77092511,  3.19829424,  0.21367521,  0.21413276,
        1.9650655 ,  0.10928962,  0.43907794,  2.14822771,  0.64864865,
        0.53763441,  0.85287846,  0.        ,  1.62513543,  0.        ,
        0.75268817,  2.00210748,  1.17270789,  0.7518797 ,  1.52671756,
        0.43431053,  0.96774194,  2.1978022 ,  1.08695652,  0.64794816,
        1.53508772,  1.55902004,  2.28509249,  0.64864865,  0.21668472,
        1.31723381,  2.35798499,  0.32051282,  2.3983316 ,  2.0212766 ,
        0.75026795,  1.26984127,  0.4250797 ,  0.10638298,  0.        ,
        0.8583691 ,  2.20356768,  1.14107884,  2.4291498 ,  1.00200401,
        0.50352467,  1.87747036,  1.36452242,  0.39138943,  0.38986355,
        1.18343195,  2.42424242,  3.50877193,  1.91204589,  0.75901328,
        2.52918288,  0.77220077,  3.6       ,  1.01010101,  0.20242915,
        0.90270812,  1.32113821,  1.79640719,  2.33918129,  0.58139535,
        1.37524558,  3.23193916,  1.34874759,  2.0754717 ,  1.64940545,
        3.45238095,  0.11890606,  2.77456647,  0.54242542,  2.1978022 ,
        2.76479751,  2.76110444,  0.71513707,  1.08433735,  1.63265306,
        0.28653295,  0.04091653,  0.6504065 ,  1.65289256,  0.69757899,
        3.87894288,  2.49376559,  0.86526576,  1.38155221,  0.36704731,
        0.69815195,  2.56102441,  0.59665871,  1.12630732,  3.97837003,
        1.41010576,  0.2734375 ,  0.90658258,  0.7821666 ,  0.77609624,
        0.42503864,  0.19357336,  3.86007238,  0.        ,  1.09756098,
        1.19292472,  3.40280732,  4.02654867,  1.78183399,  2.20994475,
        0.67539046,  0.        ,  0.33883947,  0.98374679,  1.0998308 ,
        0.25316456,  2.02563043,  1.26530612,  3.07109802,  3.98075241,
        2.28187919,  2.82608696,  0.43668122,  3.41628005,  1.04340568,
        0.46121593,  4.25531915,  0.16032064,  0.20080321,  2.77235455,
        0.86648287,  1.03461998,  1.86461289,  0.36615134,  1.90713101,
        2.18978102,  1.16232465,  0.56428859,  0.76      ,  3.00782859,
        0.70539419,  0.08291874,  1.22850123,  3.0952381 ,  3.11418685,
        0.19186493,  2.03602193,  1.04610616,  1.17600941,  0.1177394 ,
        3.24149109,  2.406639  ,  3.01810865,  1.13960114,  3.41981132,
        1.31885182,  0.703125  ,  1.14579218,  0.8617313 ,  0.5066251 ,
        1.49712092,  0.61799923,  0.42307692,  2.48324793,  1.43942423,
        2.41904019,  0.15582392,  0.98347758,  0.07874016,  3.42205323,
        1.27627628,  1.21580547,  5.08474576,  0.28933092,  1.17941387,
        1.2301013 ,  0.14492754,  1.11071301,  0.07171029,  0.79508493,
        1.03719599,  0.81589216,  0.03546099,  0.10649627,  0.73995772,
        1.17647059,  0.49663001,  0.        ,  1.19172801,  0.27962251,
        3.88525781,  1.92450037,  1.80859081,  1.29770992,  2.78293135,
        0.25906736,  0.47882136,  0.85438336,  1.62325406,  3.25054785,
        0.0729927 ])

In [93]:
#정답2 : 상승(변화율>0) or 하락 
#상승일경우 1 하락일경우 0

up_or_down = np.zeros(596)

price_change = -np.diff(stdata["end"].to_numpy())
for idx, val in enumerate(price_change):
    if val>0:
        up_or_down[idx]=1

up_or_down.shape

(596,)

In [52]:
output[1]

array([-0.88161839, -0.3533235 , -0.95326911, -0.25315563,  4.81360288,
        1.23418063, -3.02635004,  1.86121588,  2.50288087])